<html>
	<head>

		<!-- TITLE -->
		<title>RestauRate</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CUSTOM CSS -->
		<link rel="stylesheet" href="../../static/css/style.css">

		<!-- GOOGLE FONT -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

        <!-- FAVICON -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">


	</head>

	<body>
		<div class="container">
            
		</div>
	</body>
</html>