<html>
	<head>

		<!-- TITLE -->
		<title>RestauRate</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CUSTOM CSS -->
		<link rel="stylesheet" href="../static/css/style.css">

		<!-- GOOGLE FONT -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

        <!-- FAVICON -->
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">

	</head>

	<body>
		<div class="container">
            <div class="title">
                <div class="row">
                    <h1>RestauRate</h1>
                    <img src="../static/images/logo.png" alt="Food Logo">
                    <h2>Find quality restaurants near you.</h2>
                </div>
            </div>
            
            <div class="buttons">
                <div class="row">
                    <div class="col-lg-4">
                        <button type="button" class="btn">Edit Restaurants</button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn">Edit Raters</button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn">Edit Menu Items</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4"><!--EMPTY SPACE--></div>
                    <div class="col-lg-4">
                        <a href="query">
                            <button type="button" class="btn">Query Database</button>
                        </a>
                    </div>
                    <div class="col-lg-4"><!--EMPTY SPACE--></div>
                </div>
            </div>
            
		</div>
	</body>
</html>